Repository bitprj/BitCamp, pull requests merged in 2021-01, with the labels that each got.

#63 Week 4 Homework README (left behind from last PR)
  Slack-Apps/week4/homework/README.md
Labels: bug, slack

#64 Forgot Week Titles on Main README.md
  Slack-Apps/README.md
Labels: bug, slack

#78 Create pull_request_template.md
  repo_logistics/pull_request_template.md
Labels: logistics

#38 CONTRIBUTING.md Review
  CONTRIBUTING.md
Labels: documentation

#99 [Slack] Minor Changes and Reformatting Repository w/ Code Samples
  Slack-Apps/README.md
  Slack-Apps/homework/responses/3.0-blog.md
  Slack-Apps/homework/solutions/week3/README.md
  Slack-Apps/homework/solutions/week3/app.js
  Slack-Apps/week1/README.md
  Slack-Apps/week2/README.md
  Slack-Apps/week2/code/app.js
  Slack-Apps/week3/README.md
  Slack-Apps/week3/blog.md
  Slack-Apps/week3/code/app.js
  Slack-Apps/week4/README.md
  Slack-Apps/week4/blog.md
Labels: slack
